* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", serif;
}
$colores: (
  principal: #43ab8f,
  secundario: #b6e2d6,
  terciario: #3b8974,
);
$tamanos: (
  titulo: 2rem,
  subtitulo: x-large,
  categoria: xxx-large,
  parrafo: 1.5rem,
);

body {
  background-color: map-get($colores, secundario);
}

header {
  background-image: linear-gradient(
      to bottom,
      rgba(map-get($colores, principal), 0.3) 50%,
      rgba(map-get($colores, secundario), 0.3) 100%
    ),
    url("/resources/header.png");
  height: 497px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.top-menu {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.button-compra {
  text-align: center;
  width: 150px;
  text-decoration: none;
  color: map-get($colores, secundario);
  background-color: map-get($colores, terciario);
  padding: 0.7rem;
  border: 0.5px solid transparent;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.button-compra:hover {
  transform: scale(1.1);
  background-color: map-get($colores, secundario);
  color: map-get($colores, principal);
}

.top-menu a {
  text-align: center;
  width: 126px;
  text-decoration: none;
  color: map-get($colores, principal);
  background-color: map-get($colores, secundario);
  padding: 0.5rem;
  border: 0.5px solid transparent;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.top-menu a:hover {
  transform: scale(1.1);
  background-color: map-get($colores, principal);
  color: map-get($colores, secundario);
}

.header-slider {
  margin: auto;
  padding: 2em 5em;
  font: normal 80px/100px "Raleway", serif;
  color: map-get($colores, secundario);
}

.header-slider p {
  height: 100px;
  float: left;
  margin-right: 0.3em;
}

.header-slider b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 100px;
}

.header-slider .inner-slider {
  display: inline-block;
  color: map-get($colores, secundario);
  position: relative;
  white-space: nowrap;
  text-shadow: 2px 2px 0 map-get($colores, terciario);
  top: 0;
  left: 0;
  animation: move 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  40% {
    top: -100px;
  }
  80% {
    top: -200px;
  }
}

@mixin header($size, $color) {
  font-size: $size;
  color: $color;
}

.promociones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.promociones h2 {
  @include header(map-get($tamanos, categoria), map-get($colores, terciario));
}

.promociones h3 {
  @include header(map-get($tamanos, subtitulo), map-get($colores, principal));
}

.grid-promociones {
  text-align: center;
  display: grid;
  grid-template-areas:
    "area-click area-click area-click"
    "producto1 producto2 producto3";
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  color: map-get($colores, secundario);
  transition: all 0.3s ease-in-out;
}

.producto {
  background-color: map-get($colores, principal);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;

  img {
    max-width: 100%;
  }

  h2 {
    font-size: map-get($tamanos, titulo);
    color: map-get($colores, secundario);
    font-weight: bold;
    margin-top: 10px;
  }

  &.expandido {
    grid-area: area-click;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.categorias {
  display: flex;
  flex-direction: column;
  margin: 2vh;

  h2 {
    font-size: map-get($tamanos, categoria);
    text-align: center;
    color: map-get($colores, terciario);
    margin: 1rem;
  }
}

.categorias-menu {
  display: flex;
  justify-content: space-evenly;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  h3 {
    font-size: map-get($tamanos, subtitulo);
    text-align: center;
    color: map-get($colores, principal);
    margin: 1rem;
  }
}

.sobre-nosotros {
  padding: 2vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  align-items: center;
  justify-content: space-evenly;

  p {
    font-size: map-get($tamanos, parrafo);
    color: map-get($colores, terciario);
    text-align: center;
    margin: 1rem;
    width: 75%;
  }
}

.header-sobre-nosotros {
  width: 75%;
}

.manos {
  width: 100px;
}
